@model IEnumerable<Veterinaria.Turnos.Data.Entidades.Cliente>

@{
    ViewData["Title"] = "Lista de Clientes";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-success"> <i class="fas fa-plus"></i> Crear Nuevo</a>
</p>
<table class="table table-striped table-hover table-bordered">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Altura)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Altura)
            </td>
                <td class="d-flex justify-content-around">
                    
                    <a class="btn btn-info btn-sm d-flex align-items-center" asp-action="Details" asp-route-id="@item.Id">
                        <i class="fas fa-info-circle"></i> Detalles
                    </a>

                    <a class="btn btn-warning btn-sm d-flex align-items-center" asp-action="Edit" asp-route-id="@item.Id">
                        <i class="fas fa-edit"></i> Editar
                    </a>

                    <a class="btn btn-danger btn-sm d-flex align-items-center" asp-action="Delete" asp-route-id="@item.Id">
                        <i class="fas fa-trash-alt"></i> Eliminar
                    </a>
                </td>
        </tr>
}
    </tbody>
</table>
